.page-casestudies .header-message {
	background-image: url(/images/arrow_light_grey_right.png);
	background-position: right center;
	background-color: #fff;
}

.selected-casestudies {
	background-color: #ECE8E9;
	padding: 25px 0;
	h3 {
		color: $brand;
		font-weight: 600;
		line-height: 100%;
		font-size: 30px;
		margin: 1em 0;
		span {
			color: black;
			font-size: 20px;
			font-family: $font-family-sans-serif;
			display: block;
			font-weight: 400;
		}
	}
	.casestudies {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px; 
		margin: 0 auto 20px auto;
		padding-bottom: 20px;
		@media only screen and (max-width : $medium-screen-width) {
			grid-template-columns: 1fr 1fr;
			margin: 25px;
		}
		@media only screen and (max-width : $small-screen-width) {
			grid-template-columns: 1fr;
		}
		img {
			width: 100%;
			height: auto;
		}
		h3 {
			font-weight: 400;
			color: black;
			margin: 0.6em 0;
			font-size: 24px;
		}
		.body {
			margin: 10px 0;
		}
	}
}

.expertise-bullets {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	@media only screen and (max-width : $medium-screen-width) {
		grid-template-columns: 1fr 1fr;
	}
	@media only screen and (max-width : $small-screen-width) {
		grid-template-columns: 1fr;
	}
	a {
		color: #666;
		div {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		i {
			color: #666;
			margin-right: 10px;
		}
		&.selected {
			font-weight: 600;
			color: $brand;
			i {
				color: $brand;
			}
		}
		&:hover {
			color: $brand;
			i {
				color: $brand;
			}
		}
	}
}

.casestudies-block {
	background-color: white;
	.block-inner {
		padding: 25px 0 0 0;
	}
	.casestudies {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 0;
		grid-row-gap: 0;
		margin: 0 auto;
		@media only screen and (max-width : $medium-screen-width) {
			grid-template-columns: 1fr 1fr;
			margin: 25px;
		}
		@media only screen and (max-width : $small-screen-width) {
			grid-template-columns: 1fr;
		}
		.casestudy {
			display: block;
			background-color: $brand;
			.outer {
				display: flex;
				min-height: 300px;
				color: white;
				@media only screen and (max-width : $medium-screen-width) {
					min-height: 200px;
				}
				@media only screen and (max-width : $small-screen-width) {
					min-height: 250px;
				}
				.image {
					display: block;
					width: 100%;
					min-height: 300px;
					background-position: center center;
					background-size: cover;
					@media only screen and (max-width : $medium-screen-width) {
						min-height: 200px;
					}
					@media only screen and (max-width : $small-screen-width) {
						min-height: 200px;
					}
					.inner {
						display: flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						padding: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(145, 32, 39, 0.5);
						.links {
							padding: 20px;
							/*
							display: none;
							*/
							.button a {
								display: inline-block;
								color: white;
								border: 2px solid white;
								padding: 0.6em 1em;
								text-transform: uppercase;
								font-weight: 700;
								&:hover {
									background-color: $brand;
									color: white;
								}
							}
							h4 {
								text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
							}
						}
						&:hover {
							background-color: rgba(145, 32, 39, 0.1);
							.links {
								display: block;
							}
						}
					}
				}
			}
			&.placeholder .outer {
				background-color: #eee;
				color: #999;
				justify-content: center;
				align-items: center;
				font-size: 20px;
			}
			.name {
				h4 {
					font-size: 21px;
					margin-bottom: 0.5em;
				}
				p {
					margin: 0;
				}
			}
		}
	}
}

.header-message.casestudy .inner .body {
	padding: 25px 0;
	h3 {
		line-height: 130%;
		font-size: 21px;
	}
}

.casestudy-article-images {
	display: flex;
	min-height: 500px;
	margin-top: 25px;
	@media only screen and (max-width : $medium-screen-width) {
		min-height: 300px;
	}
	@media only screen and (max-width : $small-screen-width) {
		flex-direction: column;
	}
	div.image {
		flex: 1;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		@media only screen and (max-width : $small-screen-width) {
			min-height: 300px;
		}
	}
}