.contact-wrapper {
	background-image: url(/images/arrow_light_grey_right.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right center;
	background-color: #fff;
	.inner {
		max-width: $max-width;
		margin: 0 auto;
		padding: 50px 0;
		@media only screen and (max-width : $max-width) {
			padding: 50px 25px;
		}
		h3 {
			margin-bottom: 1em;
			/*
			max-width: 600px;
			*/
			font-family: $font-family-sans-serif;
			font-size: 1.4rem;
			font-weight: 300;
			color: $brand;
			&:after {
				background-color: $dark_grey;
			}
			@media only screen and (max-width : $medium-screen-width) {
				max-width: none;
			}
			a {
				font-weight: 600;
			}
		}
		.body {
			iframe {
				width: 100%;
			}
			/*
			display: flex;
			@media only screen and (max-width : $medium-screen-width) {
				flex-direction: column;
			}
			section {
				width: 600px;
				margin-right: 50px;
				flex: none;
				@media only screen and (max-width : $medium-screen-width) {
					width: 100%;
					margin-right: 0;
				}
				iframe {
					width: 100%;
				}
			}
			aside {
				@media only screen and (max-width : $medium-screen-width) {
					margin-top: 25px;
				}
			}
			*/
		}
		.addresses {
			margin: 2em 0;
			display: flex;
			@media only screen and (max-width : $small-screen-width) {
				flex-direction: column;
			}
			.address {
				flex: 1;
				padding-bottom: 1em;
			}
			a:hover {
				color: white;
			}
		}
	}
}