header {
	background-color: $brand;
	color: #fff;
	width: 100%;
	@media only screen and (max-width : $medium-screen-width) {
		min-height: auto;
	}
	.inner {
		padding: 50px 0;
		@media only screen and (max-width : $large-screen-width) {
			padding: 25px;
		}
	}
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and (max-width : $medium-screen-width) {
			flex-direction: column;
		}
		.logo {
			width: 300px;
			margin-top: 20px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.buttons {
			display: flex;
			a {
				display: block;
				padding: 1em 1.5em;
				margin: 10px;
				text-transform: uppercase;
				background-color: transparent;
				border: 2px solid white;
				font-weight: bold;
				color: white;
				&.toggle-menu {
					background-color: white;
					color: $dark_blue;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.body {
		width: 75%;
		margin-top: 60px;
		@media only screen and (max-width : $medium-screen-width) {
			width: 100%;
			margin-top: 20px;
			text-align: center;
		}
		h3 {
			font-size: 40px;
			margin: 0;
			@media only screen and (max-width : $medium-screen-width) {
				font-size: 30px;
			}
			@media only screen and (max-width : $small-screen-width) {
				font-size: 20px;
			}
			.light {
				font-weight: 300;
			}
			.dark {
				color: black;
			}
		}
		h4 {
			font-size: 26px;
			font-weight: 300;
			margin: 0;
		}
		p {
			font-size: 20px;
			@media only screen and (max-width : $small-screen-width) {
				font-size: 1rem;
			}
		}
		a {
			display: inline-block;
			padding: 1em 1.5em;
			margin: 10px 0;
			text-transform: uppercase;
			background-color: transparent;
			border: 2px solid white;
			font-weight: bold;
			color: white;
			text-decoration: none;
			&:hover {
				background-color: white;
				color: $dark_blue;
				text-decoration: none;
			}
		}
	}
	&.dark {
		background-color: #121E29;
		min-height: auto;
		h3.short-bottom-border:after {
			background-color: white;
		}
	}
	&.meet-the-team {
		h4 {
			color: black;
		}
	}
	@media only screen and (max-width : $medium-screen-width) {
		h3.short-bottom-border:after {	
			display: none;
		}
	}
}

.page-home header {
	background: url(/images/header4.jpg) center center no-repeat $brand;
	background-size: cover;
}