body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
    background-color: $dark_blue;
    .inner {
        padding: 25px;
    }
    ul {
        margin: 0 0 25px 0;
        padding: 0;
        li {
            list-style: none;
            display: block;
            margin: 0;
            padding: 0.4em 0;
            font-size: 15px;
            font-weight: 600;
            a {
                color: white;
                text-transform: uppercase;
                &:hover, &.active {
                    text-decoration: none;
                    color: $brand;
                }
            }
        }
    }
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
    }

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}