.team-block {
	background-color: white;
	.inner {
		display: flex;
		padding: 25px 0;
		@media only screen and (max-width : $max-width) {
			padding: 25px;
		}
		.right-block {
			h4 {
				color: $brand;
				font-family: $font-family-sans-serif;
			}
		}
	}
	.block-inner {
		padding: 25px 0;
	}
	.team-members {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		margin: 0 auto 20px auto;
		padding-bottom: 20px;
		@media only screen and (max-width : $medium-screen-width) {
			grid-template-columns: 1fr 1fr;
			margin: 25px;
		}
		@media only screen and (max-width : $small-screen-width) {
			grid-template-columns: 1fr;
		}
		.team-member {
			display: block;
			/*
			background-color: $brand;
			*/
			.outer {
				display: flex;
				min-height: 250px;
				color: white;
				@media only screen and (max-width : $medium-screen-width) {
					min-height: 200px;
				}
				@media only screen and (max-width : $small-screen-width) {
					min-height: 250px;
				}
				.image {
					display: block;
					width: 100%;
					min-height: 250px;
					background-position: center center;
					background-size: cover;
					@media only screen and (max-width : $medium-screen-width) {
						min-height: 200px;
					}
					@media only screen and (max-width : $small-screen-width) {
						min-height: 200px;
					}
					.inner {
						display: flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						padding: 0;
						width: 100%;
						height: 100%;
						.links {
							display: none;
							.button a {
								display: inline-block;
								color: white;
								border: 2px solid white;
								padding: 0.6em 1em;
								text-transform: uppercase;
								font-weight: 700;
								&:hover {
									background-color: $brand;
									color: white;
								}
							}
							.social-icons {
								display: flex;
								margin: 1em 0 0 0;
								a {
									display: flex;
									margin-right: 10px;
									font-size: 15px;
									border-radius: 100%;
									background-color: white;
									color: $brand;
									line-height: 100%;
									align-items: center;
									justify-content: center;
									padding: 12.5px 10px;
									&:hover {
										background-color: $brand;
										color: white;
									}
								}
							}
						}
						&:hover {
							background-color: rgba(145, 32, 39, 0.5);
							.links {
								display: block;
							}
						}
					}
				}
			}
			.name {
				padding: 10px 0;
				background-color: white;
				h4 {
					font-size: 15px;
					margin: 0;
				}
				p {
					margin: 0;
				}
			}
		}
	}

	.team-member-categories {
		ul {
			margin: 0 0 20px 0;
			padding: 0;
			@media only screen and (max-width : $medium-screen-width) {
				text-align: center;
			}
			li {
				display: inline-block;
				text-transform: uppercase;
				padding-right: 1em;
				a {
					color: black;
					&:hover {
						text-decoration: none;
						color: $brand;
					}
					&.selected {
						font-weight: 600;
						color: $brand;
					}
				}
			}
		}
	}
}

.team-member-block {
	.inner {
		display: flex;
		padding: 50px 0;
		width: $max-width;
		margin: 0 auto;
		@media only screen and (max-width : $max-width) {
			width: 100%;
			padding: 25px;
		}
		@media only screen and (max-width : $medium-screen-width) {
			flex-direction: column;
		}
		.image {
			width: 46%;
			margin-right: 4%;
			flex: 1;
			@media only screen and (max-width : $medium-screen-width) {
				width: 100%;
				margin: 0 0 25px 0;
			}
			img {
				width: 100%;
				height: auto;
			}
		}

		.body {
			flex: 1;
			h3 {
				color: $brand;
				font-weight: 400;
				line-height: 100%;
				font-size: 30px;
				margin-bottom: 0.5em;
				span {
					color: black;
					font-size: 20px;
					font-family: $font-family-sans-serif;
					display: block;
				}
			}
			.contact-details {
				p {
					margin: 0;
				}
			}
		}

		.social-icons {
			display: flex;
			margin: 1em 0 0 0;
			a {
				display: flex;
				margin-right: 10px;
				font-size: 15px;
				border-radius: 100%;
				background-color: $brand;
				color: white;
				line-height: 100%;
				align-items: center;
				justify-content: center;
				padding: 12.5px 10px;
				&:hover {
					background-color: black;
					color: white;
				}
			}
		}
	}
}