.vacancies-wrapper {
	.inner {
		display: flex;
		max-width: $max-width;
		margin: 50px auto;
		@media only screen and (max-width : $max-width) {
			flex-direction: column;
			margin: 25px;
		}
		aside {
			width: 250px;
			flex: none;
			margin-right: 50px;
			@media only screen and (max-width : $max-width) {
				width: 100%;
				max-width: 500px;
				margin: 0;
			}
			h3 {
				font-family: $font-family-sans-serif;
				font-size: 20px;
			}
			form {
				margin: 20px 0 0 0;
				.input-row {
					margin: 10px 0;
					&.buttons {
						width: 50%;
						@media only screen and (max-width : $small-screen-width) {
							width: 100%;
						}
						button {
							display: block;
							width: 100%;
							margin: 5px 0;
							&[type="submit"] {
								background-color: $teal;
								border-color: $teal;
							}
							&[type="reset"] {
								background-color: white;
								color: black;
							}
						}
					}
				}
			}
		}
		section {
			width: 100%;
			.vacancy-results-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid $brand;
				margin: 10px 0 20px 0;
				padding-bottom: 10px;
				@media only screen and (max-width : 600px) {
					flex-direction: column;
					align-items: flex-start;
				}
				p {
					margin: 0;
					@media only screen and (max-width : 600px) {
						margin: 5px 0;
					}
				}
				.sort-options, .limit-options {
					a {
						display: inline-block;
						margin: 0 0.5em;
						&.selected {
							font-weight: 700;
						}
					}
				}
			}
			.vacancy-result {
				border-bottom: 1px solid #ccc;
				padding-bottom: 20px;
				margin: 10px 0 20px 0;
				.info {
					margin: 1em 0;
					p {
						margin: 0;
					}
				}
				h4:after {
					background-color: black;
				}
			}
		}
	}
}

.vacancy-wrapper {
	.inner {
		display: flex;
		max-width: $max-width;
		margin: 50px auto;
		@media only screen and (max-width : $max-width) {
			flex-direction: column;
			margin: 25px;
		}
		section {
			width: 100%;
			h3 {
				font-size: 2rem;
				color: $brand;
			}
			.info {
				margin: 1em 0;
				p {
					margin: 0;
				}
			}
			h4 {
				font-size: 1.1em;
				font-family: $font-family-sans-serif;
				font-weight: 600;
			}
			.buttons {
				margin: 3em 0 2em 0;
				.btn {
					margin-right: 10px;
				}
				.apply {
					background-color: $teal;
					border-color: $teal;
				}
				.register {
					background-color: white;
					color: black;
				}
			}
			.back-link {
				margin-bottom: 25px;
				a {
					color: #000;
					&:hover {
						color: $brand;
					}
				}
			}
			.vacancy-apply {
				max-width: 500px;
				form {
					margin: 20px 0 0 0;
					.input-row {
						margin: 10px 0;
						&.buttons {
							display: flex;
							width: 100%;
							margin-top: 50px;
							@media only screen and (max-width : $small-screen-width) {
								flex-direction: column;
								margin-top: 10px;
							}
							.btn {
								width: 100%;
								&[type="submit"] {
									background-color: $teal;
									border-color: $teal;
								}
								@media only screen and (max-width : $small-screen-width) {
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
		}
		aside {
			width: 250px;
			flex: none;
			margin-left: 50px;
			@media only screen and (max-width : $max-width) {
				width: 100%;
				max-width: 500px;
				margin: 0;
			}
			.share {
				a {
					display: block;
					margin: 5px 0 10px 0;
					padding: 0.6em 1em;
					background-color: $light_grey;
					color: $dark_grey;
					font-size: 15px;
					i {
						margin-right: 10px;
					}
					&:hover {
						background-color: $dark_grey;
						color: $light_grey;
					}
				}
			}
		}
	}
}