// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'global';
@import 'header';
@import 'homepage';
@import 'footer';
@import 'slideout';
@import 'team';
@import 'expertise';
@import 'industries';
@import 'vacancies';
@import 'register';
@import 'resources';
@import 'news';
@import 'contact';
@import 'choose_us';
@import 'about';
@import 'auth_form';
@import 'typeahead';
@import 'casestudies';
@import 'nprogress';
@import 'page';
