#app {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: stretch;
	background-color: #131E28;
	.header {
		background-color: #131E28;
		color: white;
		flex-grow: 0;
		flex-shrink: 0;
		width: 300px;
		header {
			padding: 2rem;
			text-align: center;
			p {
				margin: 0;
			}
			img {
				width: 100%;
				height: auto;
			}
			h2 {
				margin: 0 0 0.5em 0;
			}
		}
		nav {
			ul, li {
				margin: 0;
				padding: 0;
				list-style: none;
				a {
					display: flex;
					align-items: center;
					padding: 1rem 2rem;
					border-bottom: 1px solid #333;
					color: #aaa;
					i.fas {
						color: #333;
					}
					.icon {
						padding-right: 1em;
						i.fas {
							color: #999;
						}
					}
					.label {
						width: 100%;
						.inner {
							display: flex;
							width: 100%;
							justify-content: space-between;
							align-items: center;
						}
					}
					&:hover {
						text-decoration: none;
						color: #fff;
						i.fas {
							color: #fff;
						}
					}
				}
			}
			li.active a.nav-link {
				color: $brand-primary;
				font-weight: 700;
				i.fas {
					color: $brand-primary;
				}
			}
		}
		p {
			padding: 1rem 2rem;
			margin: 0;
		}
	}
	.body {
		flex-grow: 3;
		background-color: #fff;
		position: relative;
		.card {
			background-color: white;
		}
		.card:first-child {
			border-top: none;
		}
		h2 {
			margin-top: 0;
		}
		.loading-overlay {
			display: none;
			position: absolute;
			z-index: 1000;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			.inner {
				display: flex;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
				div {
					text-align: center;
				}
				p {
					font-size: 15px;
					text-align: center;
				}
			}
		}
	}
}

#app .header nav {
	ul.sub-items {
		display: none;
		background-color: $brand-primary;
		a {
			color: #131E28;
			&:hover {
				font-weight: 700;
			}
		}
		li.active a {
			color: #131E28;
			font-weight: 700;
			i.fas {
				color: #131E28;
			}
		}
	}
	li.active ul.sub-items {
		display: block;
	}
}